<!-- templates/chat/chat_view.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat with {{ chat_username }}</h1>
    <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.sender.username }}:</strong> {{ message.content }} <em>{{ message.timestamp }}</em></p>
        {% endfor %}
    </div>
    <form id="chat-form">
        {% csrf_token %}
        <input type="text" id="message-input" autocomplete="off"/>
        <button type="submit">Send</button>
    </form>
    <script>
        const chatId = "{{ chat.id }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + chatId + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const username = data.username;

            document.querySelector('#chat-box').innerHTML += '<p><strong>' + username + ':</strong> ' + message + '</p>';
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-form').onsubmit = function(e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
